@using System.Web.Mvc.Html
@using WebClientDemo.Models;
@model GroupsVM
<div class="card  bg-light mb-3">
    <div class="card-header">Clone report with parameters</div>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-2">
                From Workspace
            </div>
            <div class="col-lg-4">
                @Html.DropDownListFor(model => model.GroupFromList, @Model.GroupFromList, new {@class = "form-control btn btn-default dropdown-toggle", @onchange = "PowerReport.LoadReportForWorkSpace(this.value)"})
            </div>
            <div class="col-lg-2">
                From Report
            </div>
            <div class="col-lg-4">
                <select class="form-control" id="fromReports" name="fromReports">
                </select>
            </div>
        </div>
        <div class="row padtoprow">
            <div class="col-lg-2">
                To Workspace
            </div>
            <div class="col-lg-4">
                @Html.DropDownListFor(model => model.GroupToList, @Model.GroupToList, new {@class = "form-control btn btn-default dropdown-toggle"})
            </div>
            <div class="col-lg-2">
                Clone Report
            </div>
            <div class="col-lg-4">
                @Html.TextBox("cloneReportName", "", new {@class = "form-control"})
            </div>
        </div>
        <div class="row padtoprow">
            <div class="col-lg-2">
                New Url for Report
            </div>
            <div class="col-lg-4">
                @Html.TextBox("webApiUrl", "https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv", new {@class = "form-control"})
            </div>
            <div class="col-lg-2">
                Success Report
            </div>
            <div class="col-lg-4">
                @Html.TextBox("successReport", "", new {@class = "form-control"})
            </div>
        </div>
        <div class="row padtoprow">

            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" onclick="PowerReport.CloneReport()">Clone Report</button>
            </div>
        </div>
    </div>
</div>

<div class="card  bg-light mb-3">
    <div class="card-header ">EmbedReport</div>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-2">
                From Workspace
            </div>
            <div class="col-lg-4">
                @Html.DropDownListFor(model => model.GroupFromList, @Model.GroupFromList, new {@class = "form-control btn btn-default dropdown-toggle", @onchange = "PowerReport.LoadEmbedReportForWorkSpace(this.value)"})
            </div>
            <div class="col-lg-2">
                From Report
            </div>
            <div class="col-lg-4">
                <select class="form-control" id="fromReportsEmbed" name="fromReportsEmbed">
                </select>
            </div>
        </div>
        <div class="row padtoprow">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary" onclick="PowerReport.EmbedReport()">Embed Report</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    PowerReport.init({
        Urls: {
            GetGroupReportsUrl: decodeURIComponent(
                '@Url.RouteUrl("WorkspaceAllReports", new {httproute = "", groupId = "{0}"})'),
            CloneReportsUrl: decodeURIComponent('@Url.RouteUrl("CloneReport", new {httproute = ""})')
        }
    });
</script>